# List, Loop and Decision Making

In [1]:
#Use of range() function to allocate values
myList=list(range(10))

In [2]:
myList

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
myList=list(range(5,16))
myList

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]

In [5]:
#the last argument in function list() tells howmuch to increment
myList=list(range(0,101,10))
myList

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [7]:
#Create a list from 3 to 30 and print it
mylist = list(range(3,31))
mylist

[3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30]

In [8]:
#List is a data type, mutable in nature. You can change individual elements of list
MBAs=['Rupesh kumar sinha', 'arnav roy','divya lakshmi','chinmay jain','adil','ben roshan' ]

In [9]:
MBAs

['Rupesh kumar sinha',
 'arnav roy',
 'divya lakshmi',
 'chinmay jain',
 'adil',
 'ben roshan']

In [10]:
print(MBAs)

['Rupesh kumar sinha', 'arnav roy', 'divya lakshmi', 'chinmay jain', 'adil', 'ben roshan']

In [12]:
#Operations of the List, Accessing individual values from the list
for mba in MBAs:
    print (mba)

Rupesh kumar sinha
arnav roy
divya lakshmi
chinmay jain
adil
ben roshan

In [14]:
for mba in MBAs:
    if mba=='ben roshan':
        print(mba.upper())
    else:
        print(mba.title())

Rupesh Kumar Sinha
Arnav Roy
Divya Lakshmi
Chinmay Jain
Adil
BEN ROSHAN

In [15]:
for student in MBAs:
    if student=='ben roshan':
        print(student.title())
    elif student=='divya lakshmi':
        print(student.upper())
    else:
        print(student.lower())

rupesh kumar sinha
arnav roy
DIVYA LAKSHMI
chinmay jain
adil
Ben Roshan

In [16]:
#Adding one more element to the list at the last
MBAs.append('THE QUICK BROWN FOX JUMPS OVER THE LITTLE LAZY DOG')

In [18]:
for student in MBAs:
    if student=='ben roshan':
        print(student.lower())
    elif student=='divya lakshmi':
        print(student.upper())
    else:
        print(student.title())

Rupesh Kumar Sinha
Arnav Roy
DIVYA LAKSHMI
Chinmay Jain
Adil
ben roshan
The Quick Brown Fox Jumps Over The Little Lazy Dog

In [19]:
MBAs

['Rupesh kumar sinha',
 'arnav roy',
 'divya lakshmi',
 'chinmay jain',
 'adil',
 'ben roshan',
 'THE QUICK BROWN FOX JUMPS OVER THE LITTLE LAZY DOG']

In [20]:
#len function returns number of items from the list
print(len(MBAs))

7

In [25]:
#Accesing list elements by index
print(MBAs[0])
print(MBAs[6])
print(MBAs[7])

Rupesh kumar sinha
THE QUICK BROWN FOX JUMPS OVER THE LITTLE LAZY DOG

IndexError: list index out of range

In [28]:
#How to access last element without knowing number of elements
print(MBAs[-1])
print(MBAs[-2])
print(MBAs[-3])

THE QUICK BROWN FOX JUMPS OVER THE LITTLE LAZY DOG
ben roshan
adil

In [42]:
#Create a list with 1000 elements and print last n elemnts of the list
myL=list(range(1,1001))

i=indx=len(myL)-1
#print(totalEle)
while (i>indx-5):
    print(myL[i])
    i-=1

1000
999
998
997
996

In [53]:
#Create a List of 6 food items. add One more food item at Last and print each odd items in Upper case
Foods=['Fried Rice','Dosa','Idli','Dal','Rasgulla','Kala Jamun']
Foods.append('Sweet Curd')

#Now printing Every even items in Caps
i=1
for food in Foods:
    print("The value of i=", i )
    if i%2!=0:
        print(food.upper())
    else:
        print(food)
    i+=1
    
print("\nWe have printed it!")

The value of i= 1
FRIED RICE
The value of i= 2
Dosa
The value of i= 3
IDLI
The value of i= 4
Dal
The value of i= 5
RASGULLA
The value of i= 6
Kala Jamun
The value of i= 7
SWEET CURD

We have printed it!

In [51]:
# % is Modulo operator
print (4%2)

0