# List, Loop and Logical expression
List is Mutable ie. elements of lists can be changed

In [3]:
#Create a List of values from 1 to 100
ser=list(range(0,7))

In [4]:
print (ser)

[0, 1, 2, 3, 4, 5, 6]

In [5]:
ser=list(range(11))
print(ser)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
ser=list(range(5,51,3))
print(ser)

[5, 8, 11, 14, 17, 20, 23, 26, 29, 32, 35, 38, 41, 44, 47, 50]

In [41]:
#Creating More List
students=['Rupesh Kumar Sinha','Heston Dsouza','Ankita','prashanth','soochana n b','sophia ayaz kagzi']

In [10]:
print(students)

['Rupesh Kumar Sinha', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi']

In [12]:
for candidate in students:
    print(candidate)

Rupesh Kumar Sinha
Heston Dsouza
Ankita
prashanth
soochana n b
sophia ayaz kagzi

In [14]:
for candidate in students:
    if candidate=='sophia ayaz kagzi':
        print(candidate.upper())
    else:
        print(candidate.title())

Rupesh Kumar Sinha
Heston Dsouza
Ankita
Prashanth
Soochana N B
SOPHIA AYAZ KAGZI

In [22]:
for candidate in students:
    if candidate=='sophia ayaz kagzi':
        print(candidate.upper())
    elif candidate=='Ankita':
        print(candidate.lower())
    else:
        print(candidate.title())

Pawan
Heston Dsouza
ankita
Prashanth
Soochana N B
SOPHIA AYAZ KAGZI

In [21]:
print(students[0])
print(students[2])
print(students[5])

PAWAN
Ankita
sophia ayaz kagzi

In [42]:
#Updating individual element of List using index
students[0]='PAWAN'

In [24]:
print(students[5])

sophia ayaz kagzi

In [27]:
#Identifying number of elements in the list
print(len(students))

9

In [43]:
#Use append() to add elements at the last to the list
students.append('Amar')
students.append('SAnGita')
students.append('kiran kumar')

In [30]:
print(students)

['rupesh kumar sinha', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'Amar', 'SAnGita', 'kiran kumar']

In [31]:
students[0]='pawan'

In [32]:
#Suppose there are 1000 elements which are multiplication of a value which user enters, in a list and you need to access
#last 20 elements and print it, how to do it?

mylist=range(1,1001)

In [34]:
l=len(mylist)
print ("There are total",  l , " elements")
print(mylist[999])

There are total 1000  elemnets
1000

In [39]:
i=999
while (i>=l/2):
    print ( "# ", i, mylist[i])
    i=i-1

#  999 1000
#  998 999
#  997 998
#  996 997
#  995 996
#  994 995
#  993 994
#  992 993
#  991 992
#  990 991
#  989 990
#  988 989
#  987 988
#  986 987
#  985 986
#  984 985
#  983 984
#  982 983
#  981 982
#  980 981
#  979 980
#  978 979
#  977 978
#  976 977
#  975 976
#  974 975
#  973 974
#  972 973
#  971 972
#  970 971
#  969 970
#  968 969
#  967 968
#  966 967
#  965 966
#  964 965
#  963 964
#  962 963
#  961 962
#  960 961
#  959 960
#  958 959
#  957 958
#  956 957
#  955 956
#  954 955
#  953 954
#  952 953
#  951 952
#  950 951
#  949 950
#  948 949
#  947 948
#  946 947
#  945 946
#  944 945
#  943 944
#  942 943
#  941 942
#  940 941
#  939 940
#  938 939
#  937 938
#  936 937
#  935 936
#  934 935
#  933 934
#  932 933
#  931 932
#  930 931
#  929 930
#  928 929
#  927 928
#  926 927
#  925 926
#  924 925
#  923 924
#  922 923
#  921 922
#  920 921
#  919 920
#  918 919
#  917 918
#  916 917
#  915 916
#  914 915
#  913 914
#  912 913
#  911 912
#  910 911
#  909 910
#  908 909
#  907 908
#  906 907
#  905 906
#  904 905
#  903 904
#  902 903
#  901 902
#  900 901
#  899 900
#  898 899
#  897 898
#  896 897
#  895 896
#  894 895
#  893 894
#  892 893
#  891 892
#  890 891
#  889 890
#  888 889
#  887 888
#  886 887
#  885 886
#  884 885
#  883 884
#  882 883
#  881 882
#  880 881
#  879 880
#  878 879
#  877 878
#  876 877
#  875 876
#  874 875
#  873 874
#  872 873
#  871 872
#  870 871
#  869 870
#  868 869
#  867 868
#  866 867
#  865 866
#  864 865
#  863 864
#  862 863
#  861 862
#  860 861
#  859 860
#  858 859
#  857 858
#  856 857
#  855 856
#  854 855
#  853 854
#  852 853
#  851 852
#  850 851
#  849 850
#  848 849
#  847 848
#  846 847
#  845 846
#  844 845
#  843 844
#  842 843
#  841 842
#  840 841
#  839 840
#  838 839
#  837 838
#  836 837
#  835 836
#  834 835
#  833 834
#  832 833
#  831 832
#  830 831
#  829 830
#  828 829
#  827 828
#  826 827
#  825 826
#  824 825
#  823 824
#  822 823
#  821 822
#  820 821
#  819 820
#  818 819
#  817 818
#  816 817
#  815 816
#  814 815
#  813 814
#  812 813
#  811 812
#  810 811
#  809 810
#  808 809
#  807 808
#  806 807
#  805 806
#  804 805
#  803 804
#  802 803
#  801 802
#  800 801
#  799 800
#  798 799
#  797 798
#  796 797
#  795 796
#  794 795
#  793 794
#  792 793
#  791 792
#  790 791
#  789 790
#  788 789
#  787 788
#  786 787
#  785 786
#  784 785
#  783 784
#  782 783
#  781 782
#  780 781
#  779 780
#  778 779
#  777 778
#  776 777
#  775 776
#  774 775
#  773 774
#  772 773
#  771 772
#  770 771
#  769 770
#  768 769
#  767 768
#  766 767
#  765 766
#  764 765
#  763 764
#  762 763
#  761 762
#  760 761
#  759 760
#  758 759
#  757 758
#  756 757
#  755 756
#  754 755
#  753 754
#  752 753
#  751 752
#  750 751
#  749 750
#  748 749
#  747 748
#  746 747
#  745 746
#  744 745
#  743 744
#  742 743
#  741 742
#  740 741
#  739 740
#  738 739
#  737 738
#  736 737
#  735 736
#  734 735
#  733 734
#  732 733
#  731 732
#  730 731
#  729 730
#  728 729
#  727 728
#  726 727
#  725 726
#  724 725
#  723 724
#  722 723
#  721 722
#  720 721
#  719 720
#  718 719
#  717 718
#  716 717
#  715 716
#  714 715
#  713 714
#  712 713
#  711 712
#  710 711
#  709 710
#  708 709
#  707 708
#  706 707
#  705 706
#  704 705
#  703 704
#  702 703
#  701 702
#  700 701
#  699 700
#  698 699
#  697 698
#  696 697
#  695 696
#  694 695
#  693 694
#  692 693
#  691 692
#  690 691
#  689 690
#  688 689
#  687 688
#  686 687
#  685 686
#  684 685
#  683 684
#  682 683
#  681 682
#  680 681
#  679 680
#  678 679
#  677 678
#  676 677
#  675 676
#  674 675
#  673 674
#  672 673
#  671 672
#  670 671
#  669 670
#  668 669
#  667 668
#  666 667
#  665 666
#  664 665
#  663 664
#  662 663
#  661 662
#  660 661
#  659 660
#  658 659
#  657 658
#  656 657
#  655 656
#  654 655
#  653 654
#  652 653
#  651 652
#  650 651
#  649 650
#  648 649
#  647 648
#  646 647
#  645 646
#  644 645
#  643 644
#  642 643
#  641 642
#  640 641
#  639 640
#  638 639
#  637 638
#  636 637
#  635 636
#  634 635
#  633 634
#  632 633
#  631 632
#  630 631
#  629 630
#  628 629
#  627 628
#  626 627
#  625 626
#  624 625
#  623 624
#  622 623
#  621 622
#  620 621
#  619 620
#  618 619
#  617 618
#  616 617
#  615 616
#  614 615
#  613 614
#  612 613
#  611 612
#  610 611
#  609 610
#  608 609
#  607 608
#  606 607
#  605 606
#  604 605
#  603 604
#  602 603
#  601 602
#  600 601
#  599 600
#  598 599
#  597 598
#  596 597
#  595 596
#  594 595
#  593 594
#  592 593
#  591 592
#  590 591
#  589 590
#  588 589
#  587 588
#  586 587
#  585 586
#  584 585
#  583 584
#  582 583
#  581 582
#  580 581
#  579 580
#  578 579
#  577 578
#  576 577
#  575 576
#  574 575
#  573 574
#  572 573
#  571 572
#  570 571
#  569 570
#  568 569
#  567 568
#  566 567
#  565 566
#  564 565
#  563 564
#  562 563
#  561 562
#  560 561
#  559 560
#  558 559
#  557 558
#  556 557
#  555 556
#  554 555
#  553 554
#  552 553
#  551 552
#  550 551
#  549 550
#  548 549
#  547 548
#  546 547
#  545 546
#  544 545
#  543 544
#  542 543
#  541 542
#  540 541
#  539 540
#  538 539
#  537 538
#  536 537
#  535 536
#  534 535
#  533 534
#  532 533
#  531 532
#  530 531
#  529 530
#  528 529
#  527 528
#  526 527
#  525 526
#  524 525
#  523 524
#  522 523
#  521 522
#  520 521
#  519 520
#  518 519
#  517 518
#  516 517
#  515 516
#  514 515
#  513 514
#  512 513
#  511 512
#  510 511
#  509 510
#  508 509
#  507 508
#  506 507
#  505 506
#  504 505
#  503 504
#  502 503
#  501 502
#  500 501

In [1]:
numL=[]
n=int(input("Enter a Number:"))
for i in range(1,1000):
 numL.append(n*i)
    
print (numL)

Enter a Number:1

In [ ]:
#Removing elements from the list and More programs related to All these concepts and slicing the elements
#Next Class Tuples and Dictionary 
#1st set of Assignment in Tomorrows class

In [52]:
TabList=[]
print(TabList)
n1=int(input("Enter a Number:"))
for i in range(1,100):
    TabList.append(i*n1)
    ## All 1000 values got multiplied with 1 to 1000 and strored in TabList

print(TabList)

[]
Enter a Number:2
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198]

In [ ]:
#How to Access Elements of the List
# use index to access elements of the List

In [11]:
print(students)

['PAWAN', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'Amar', 'SAnGita', 'kiran kumar']

In [12]:
print(students[0])
print(students[3])

PAWAN
prashanth

In [13]:
#Accessing last element 
print(students[-1])
print(TabList[-1])

kiran kumar
10000

In [14]:
print(students[-2])

SAnGita

<div>
    
  <font face=verdana color=red size=5>  
Changing, Adding and Removing Elements from a List
    </font>
        
</div>

In [ ]:
#Modify the elements of the List

In [15]:
students[0]='Pawan M'

In [17]:
students

['Pawan M',
 'Heston Dsouza',
 'Ankita',
 'prashanth',
 'soochana n b',
 'sophia ayaz kagzi',
 'Amar',
 'SAnGita',
 'kiran kumar']

In [18]:
students[5]='SOPHIA AYAZ KAGZI'

In [19]:
students

['Pawan M',
 'Heston Dsouza',
 'Ankita',
 'prashanth',
 'soochana n b',
 'SOPHIA AYAZ KAGZI',
 'Amar',
 'SAnGita',
 'kiran kumar']

# Adding a new element to the list ...by use of append() one can add value at the last of the List
# ... insert() gives flexibility to add value at any place in the list

In [47]:
students.append('surya')

In [21]:
print(students)

['Pawan M', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'SOPHIA AYAZ KAGZI', 'Amar', 'SAnGita', 'kiran kumar', 'surya']

In [46]:
#Use of insert()
students.insert(0,'Nijar das')
print(students)

['Nijar das', 'PAWAN', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'Amar', 'SAnGita', 'rupesh kumar sinha', 'kiran kumar']

In [45]:
students.insert(-1,'rupesh kumar sinha')
print(students)

['PAWAN', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'Amar', 'SAnGita', 'rupesh kumar sinha', 'kiran kumar']

<div>
    <hr><hr>
    <font face="Segoe Print" size=5 color=red>Removing Elements from the List <Font color=orange><br>
        del() ...pop() ... remove()</font></font>
    <hr><hr>
 </div>

In [24]:
del students[-2]    # use del carefully, beucase one value got deleted you will not be able to trace it back
print(students)

['Nijar das', 'Pawan M', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'SOPHIA AYAZ KAGZI', 'Amar', 'SAnGita', 'kiran kumar', 'surya']

In [33]:
#pop() by default removes element from the last and it can be stored in variable
proj_sub=[]

In [40]:
proj_sub.append(students.pop())
print(students)
print(proj_sub)

['Nijar das', 'Pawan M']
['SAnGita', 'Amar', 'SOPHIA AYAZ KAGZI', 'soochana n b', 'prashanth', 'Ankita', 'Heston Dsouza']

In [48]:
print(students)

['Nijar das', 'PAWAN', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'Amar', 'SAnGita', 'rupesh kumar sinha', 'kiran kumar', 'surya']

In [49]:
#Removing elements by values
students.remove('rupesh kumar sinha')

In [50]:
print(students)

['Nijar das', 'PAWAN', 'Heston Dsouza', 'Ankita', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'Amar', 'SAnGita', 'kiran kumar', 'surya']

# Organizing a List    ... sort()  ... sorted()

sort()... it's dangerous use it when no chronological order in your data
sorted()... safe command

In [53]:
students.sort()

In [55]:
print(students)

['Amar', 'Ankita', 'Heston Dsouza', 'Nijar das', 'PAWAN', 'SAnGita', 'kiran kumar', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'surya']

In [56]:
students.sort(reverse=True)

In [57]:
print(students)

['surya', 'sophia ayaz kagzi', 'soochana n b', 'prashanth', 'kiran kumar', 'SAnGita', 'PAWAN', 'Nijar das', 'Heston Dsouza', 'Ankita', 'Amar']

In [60]:
students.sort()
print(students)

['Amar', 'Ankita', 'Heston Dsouza', 'Nijar das', 'PAWAN', 'SAnGita', 'kiran kumar', 'prashanth', 'soochana n b', 'sophia ayaz kagzi', 'surya']

In [ ]:
#Slicing and Simple statisctical function min() max() and sum()