<DIV>
    <HR>
    <Font face="Century Gothic" size=5 color=red>
Creating Tuple, Various Operations, Slicing
        <HR>
    </Font>
        </DIV>![CMS-Business-School-Logo.png](attachment:CMS-Business-School-Logo.png)

In [1]:
#Create a Tuple, The bracket here is (  and   ) , it is nonmutable in nature
myTup=('Rupesh Kumar Sinha','Anish','Diviya Lakshmi','Harshil')

In [2]:
print(myTup)

('Rupesh Kumar Sinha', 'Anish', 'Diviya Lakshmi', 'Harshil')

In [6]:
myTup1=('RKSinha',44,'Anish',21.5,25000,'Diviya')
myList=['RKSinha',44,'Anish',21.5,25000,'Diviya']

In [7]:
print(type(myTup))
print(type(myTup1))
print(type(myList))

<class 'tuple'>
<class 'tuple'>
<class 'list'>

In [8]:
#Accessing elements of the Tuple
print(myTup[1])

Anish

In [13]:
#The Error after execution shows that we cannot change the elements of the Tuple
myList[0]='Chinmay Jain'
myTup1[0]='Chinmay Jain'

TypeError: 'tuple' object does not support item assignment

In [14]:
myList

['Chinmay Jain', 44, 'Anish', 21.5, 25000, 'Diviya']

In [18]:
#Looping through all elements of a Tuple
for i in myTup1:
    print (i)

RKSinha
44
Anish
21.5
25000
Diviya

In [22]:
#Create a Tuple with values from 50 to 1000 with increment of 50 and display them
TupSer=tuple(range(50,1001,50))
print(TupSer)

(50, 100, 150, 200, 250, 300, 350, 400, 450, 500, 550, 600, 650, 700, 750, 800, 850, 900, 950, 1000)

In [ ]:
#From the above tuple put all values which are multiplication of 100s put it in a seprate list 
#and rest in one more list

In [28]:
#You can use 'in'  keword to find out if any element is present in the Tuple or not
#Ifit returns True the calue is present and if it returns False, it is not present

print('RKSinha' in myTup1)

print('HArshil' in myTup)

True
False

In [44]:
#Create a Tuple with 5 names and accept a name from the user and check if that name is present in the Tuple or not

Fruits=('apple','mango','grapes','banana','orange')
fruit=input("Enter name of a fruit:")
fruit=fruit.lower()

if(fruit in Fruits):
    
    print(fruit," is present in our List")
    
else:
    print(fruit," is not present in our List")

Enter name of a fruit:Kackfruit
kackfruit  is not present in our List

In [38]:
lst50=[]
lst100=[]
myFiftySer=tuple(range(50,1001,50))

for i in myFiftySer:
    if i%100==0:
        lst100.append(i)
    else:
        lst50.append(i)

print("List 50 is -->", lst50)
print("List 100 is-->", lst100)

List 50 is --> [50, 150, 250, 350, 450, 550, 650, 750, 850, 950]
List 100 is--> [100, 200, 300, 400, 500, 600, 700, 800, 900, 1000]

In [40]:
#Dictionary: It consists of Key and Value
myDict={'name':'Rupesh','Age':43,'address':'Bangalore'}
print(myDict['name'])

Rupesh